.container {	
	display: flex;
	flex-direction: column;
	place-content: left;
	padding: 10px 0px;
	margin: 10px 0px;
}
.label {
	font-weight: bold;
	padding-left: 10px;
}
.input {
	all: unset;
	border: 2px var(--light-color) solid;
	border-radius: 25px;
	padding: 10px;
	background-color: var(--dark-color);

	font-weight: bold;
	width: 20vw;

  	transition: 0.35s;
}
.input:hover,
.input:focus {
	background-color: var(--light-color);
	color: var(--dark-color);
	border-color: var(--accent-color);
}