.container {	
	display: grid;
	grid-template: 
		"label info"
		"input input";
	align-items: end;
	padding: 0px;
	margin: 10px 0px;
	min-height: 10vh;
}

.label {
	grid-area: label;
	font-weight: bold;
	padding-left: 10px;

	color: var(--text);
}

.input {
	grid-area: input;
	border: 2px var(--border-muted) solid;
	border-radius: 25px;
	padding: 10px;
	background-color: var(--bg-dark);
	color: var(--text);
	font-weight: bold;
	width: 20vw;
	height: 50%;

  	transition: 0.35s;
}
.input:hover, .input:focus {
	background-color: var(--bg-light);
	border-color: var(--highlight);
}
.input::placeholder {
	color: var(--text-muted);
}

.info{
	grid-area: info;
	display: inline;
	margin: 0;
	padding-right: 10px;
	text-align: right;
	font-size: 0.875rem;
}