.button {
	border-radius: 8px;
	padding: 0.6em 1.2em;
	margin: 10px 0px;
	font-size: 1em;
	font-weight: bolder;
	font-family: inherit;
	cursor: pointer;
	transition: 0.5s;

	width: 100%;
	border: 3px solid var(--primary);
	color: var(--primary);
	background-color: var(--bg-dark);
}

.button:focus, .button:hover {
	color: var(--secondary);
	background-color: var(--primary);
}