.grid-layout {
	height: 100vh;
	display: grid;
	grid-template-areas: 
		"sidebar header"
		"sidebar main";
	grid-template-columns: 15vw auto;
	grid-template-rows: 8vh auto;
}

.side {
	grid-area: sidebar;
}

.head {
	grid-area: header;
}

main {
	grid-area: main;

	overflow-y: auto;
	margin-right: 5px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 65px;
	padding-left: 60px;
	padding-top: 60px;
}

main::-webkit-scrollbar {
	background-color: var(--border-muted);
	border-radius: 1000px;
	width: 10px;
}
main::-webkit-scrollbar-thumb {
	background-color: var(--border);
	border-radius: 1000px;
	width: 2px;
}