.grid-layout {
	height: 100vh;
	display: grid;
	grid-template-areas: 
		"sidebar header"
		"sidebar main";
	grid-template-columns: 15vw auto;
	grid-template-rows: 8vh auto;
}

.side {
	grid-area: sidebar;
}

.head {
	grid-area: header;
}

main {
	grid-area: main;

	overflow-y: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 65px;
	padding-left: 60px;
	padding-top: 60px;
}